{
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "{{ docker_daemon_config.log_opts.docker_log_max_size | default('10m') }}",
    "max-file": "{{ docker_daemon_config.log_opts.docker_log_max_file | default('3') }}"
  },
  "storage-driver": "overlay2",
  "live-restore": true,
  "userland-proxy": false,
  "experimental": false,
  "metrics-addr": "127.0.0.1:9323",
  "default-ulimits": {
    "nofile": {
      "Name": "nofile",
      "Hard": 64000,
      "Soft": 64000
    }
  }
}