# Odoo 18 Core Requirements
Babel
chardet
cryptography
decorator
docutils
geoip2
gevent
greenlet
idna
Jinja2
libsass
lxml
lxml_html_clean
MarkupSafe
num2words
ofxparse
openpyxl
passlib
pdfminer.six
phonenumbers
Pillow
polib
psutil
psycopg2-binary
pydot
pyopenssl
pypdf
pyserial
python-dateutil
python-ldap
python-stdnum
pytz
pyusb
qrcode
reportlab
requests
rjsmin
urllib3
vobject
Werkzeug
xlrd
XlsxWriter
xlwt
zeep

# Caching & Message Queue
redis

# OCA & Ansis AI Agent Suite Requirements
fastapi>=0.110.0
pydantic>=2.0
ujson
a2wsgi>=1.10.6
python-multipart
parse-accept-language
cachetools
cerberus
pyquerystring
apispec
openupgradelib

# Security / Singpass OIDC
jwcrypto
python-jose
