middlewares:
    pw-fail2ban:
        plugin:
            fail2ban:
                blacklist:
                    ip:
                        - 192.168.0.0/24
                rules:
                    action: ""
                    actionAbuseipdb: ""
                    backend: ""
                    banaction: ""
                    banactionAllports: ""
                    bantime: 3h
                    chain: ""
                    destemail: ""
                    enabled: true
                    fail2banAgent: ""
                    filter: ""
                    findtime: 1m
                    ignorecommand: ""
                    logencoding: UTF-8
                    maxretry: 10
                    mode: ""
                    mta: ""
                    ports: 0:8000
                    protocol: ""
                    sender: ""
                    urlregexp: ""
                    usedns: ""
                whitelist:
                    ip:
                        - ::1
                        - 127.0.0.1
