# /etc/ufw/ufw.conf
#

# Set to yes to start on boot. If setting this remotely, be sure to add a rule
# to allow your remote connection before starting ufw. Eg: 'ufw allow 22/tcp'
ENABLED={{ ufw_enabled | default('yes') }}

# Please use the ufw command to set the loglevel. Eg: 'ufw logging medium'.
# See 'man ufw' for details.
LOGLEVEL={{ ufw_log_level | default('low') }}

# Set default policies
DEFAULT_INPUT_POLICY="{{ ufw_default_input_policy | default('DROP') }}"
DEFAULT_OUTPUT_POLICY="{{ ufw_default_output_policy | default('ACCEPT') }}"
DEFAULT_FORWARD_POLICY="{{ ufw_default_forward_policy | default('DROP') }}"
DEFAULT_APPLICATION_POLICY="{{ ufw_default_application_policy | default('SKIP') }}"

# By default, ufw only touches its own chains. Set this to 'yes' to have ufw
# manage the built-in chains too. Warning: setting this to 'yes' will break
# non-ufw managed firewall rules
MANAGE_BUILTINS={{ ufw_manage_builtins | default('no') }}

# IPT backend
# only enable if using iptables backend
IPT_SYSCTL={{ ufw_ipt_sysctl | default('/etc/ufw/sysctl.conf') }}
IPT_MODULES={{ ufw_ipt_modules | default('') }}